/* @define-color foreground #eeeeee; */
/* @define-color foreground-inactive #aaaaaa; */
/* @define-color background #000000; */
/* @define-color active-workspace #3E3E3E; */

@import "/home/mladen/.cache/wal/colors-waybar.css";

* {
    font-family: JetBrains Mono;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding: 0 0.7em;
    border-radius: 0px;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @active-workspace;
}

#memory,
#temperature {
    padding-left: 1em;
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#tray {
    padding-right: 1em;
}
